<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="emp">
	<select id="getEmp" parameterType="empVo" resultType="empVo">
		SELECT * FROM employees WHERE emp_id = #{emp_id} AND emp_pass = #{emp_pass}
	</select>
	
	<select id="getApprove" parameterType="String" resultType="empVo">
		select emp_approve from employees where emp_id = #{emp_id}
	</select>
	<insert id="addEmp" parameterType="empVo">
		insert into employees (emp_no, emp_id, emp_pass, emp_name, dept_id, position_id, emp_idno, emp_tel, emp_addr, emp_mail, emp_date)
						values (emp_seq.nextval , #{emp_id}, #{emp_pass}, #{emp_name}, #{dept_id} , #{position_id} , #{emp_idno}, #{emp_tel}, 
						#{emp_addr}, #{emp_date}, sysdate)
	</insert>
		
	<select id="getEmpList" resultType="empVo">
		select * from employees where emp_approve = 0
	</select>
	<update id="empApprove" parameterType="String">
		update employees set emp_approve = 1 where emp_id = #{emp_id}
	</update>
	
<!-- 	<delete id="delEmp"></delete> -->
</mapper>